<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h1>Register</h1>
        <p class="lead">
            Come on in to view your purcahses... all you need to do is sign up!
        </p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">
                Register
            </button>
            <button class="btn btn-info btn-lg">
                Learn more
            </button>
        </div>
    </div>
    <div>
        <img src="https://static.bershka.net/4/photos2/2021/I/0/2/p/7851/813/611/7851813611_2_13_4.jpg?t=1629986820431" alt="Ovo ne radi">

    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <form #registerForm='ngForm' (ngSubmit)="register()" autocomplete="off">
                    <h2 class="text-center text-primary">Sign up</h2>
                    <hr>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" 
                        [(ngModel)]="model.username" placeholder="Username">

                        <input type="password" class="form-control" name="password" 
                        [(ngModel)]="model.password" placeholder="Password">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-success mr-2" type="submit">Register</button>
                        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Cancel</button>
                    
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>