<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="dont-move">

                <h3>
                    Filteri:
                </h3>
                <table class="table table-borderless">
                    <tr>
                        <th>
                            Pol:
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="gender" id="female" (click)="selectGender('F')">
                            &nbsp;&nbsp;&nbsp;
                            <label for="female">Zensko</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" name="gender" id="male" (click)="selectGender('M')">
                            &nbsp;&nbsp;&nbsp;
                            <label for="male">Musko</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let article of articles">
                    <a href="/article/{{article.id}}" class="card">
                        <div class="picture pictureLink ">

                            <div class="text-center" style="height: 70px;">
                                <b>{{article.name}}</b>
                            </div>
                            <div class="card-img-wrapper">
                                <img src="{{article.imgSources[0].src}}" alt="" class="img-fluid">
                            </div>
                            <div class="text-center">
                                <b>
                                    {{article.price}}
                                </b>
                            </div>
                        </div>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center newBackground">
                    <pagination *ngIf="pagination" [boundaryLinks]="true" [maxSize]="10" [totalItems]="pagination.TotalItems"
                        [itemsPerPage]="pagination.ItemsPerPage" [(ngModel)]="pagination.CurrentPage"
                        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" class="newBackground">
                    </pagination>
                </div>
            </div>

        </div>
        <div class="col-2">
            <div class="dont-move-right">
                <form>
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                Broj artikala po stranici:
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <select name="numberOfItems" id="" class="form-control" [(ngModel)]="pageSize" (ngModelChange)="numberChanged($event)"
                                    >
                                    <option value="4">4</option>
                                    <option value="8">8</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="48">48</option>
                                    <option value="96">96</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>