<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="dont-move">

                <h3>
                    Filteri:
                </h3>
                <table class="table table-borderless">
                    <tr>
                        <th>
                            <h4>Pol:</h4>
                        </th>
                    </tr>
                    <tr>
                        <td style="padding: 0;">
                            <input type="radio" name="gender" id="female" (click)="selectGender('F')">
                            &nbsp;&nbsp;&nbsp;
                            <label for="female" class="mb-0">Žensko</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0;">
                            <input type="radio" name="gender" id="male" (click)="selectGender('M')">
                            &nbsp;&nbsp;&nbsp;
                            <label for="male" class="mb-0">Muško</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0;">
                            <input type="radio" name="gender" id="all" (click)="selectGender(' ')">
                            &nbsp;&nbsp;&nbsp;
                            <label for="all" class="mb-0">Sve</label>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <h4>
                                Kategorije:
                            </h4>
                        </th>
                    </tr>
                    <tr *ngFor="let category of categories">
                        <td  style="padding: 0;">
                            <input type="checkbox" name="{{category}}" id="{{category}}"> &nbsp;&nbsp;&nbsp; 
                            <label for="{{category}}" class="mb-0">{{category |titlecase}}</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn bg-warning">Ponisti filtere</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let article of articles">
                    <a href="/article/{{article.id}}" class="card">
                        <div class="picture pictureLink ">

                            <div class="text-center" style="height: 70px;">
                                <b>{{article.name}}</b>
                            </div>
                            <div class="card-img-wrapper">
                                <img src="{{article.imgSources[0].src}}" alt="" class="img-fluid">
                            </div>
                            <div class="text-center">
                                <b>
                                    {{article.price}}
                                </b>
                            </div>
                        </div>
                    </a>
                    <br>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center newBackground">
                    <pagination *ngIf="pagination" [boundaryLinks]="true" [maxSize]="10" [totalItems]="pagination.TotalItems"
                        [itemsPerPage]="pagination.ItemsPerPage" [(ngModel)]="pagination.CurrentPage"
                        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
                        firstText="&laquo;" lastText="&raquo;" class="newBackground">
                    </pagination>
                </div>
            </div>

        </div>
        <div class="col-2">
            <div class="dont-move-right">
                <form>
                    <table class="table table-borderless">
                        <tr>
                            <th style="padding-bottom: 0;">
                                Broj artikala po stranici:
                            </th>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px;">
                                <select name="numberOfItems" id="" class="form-control" [(ngModel)]="pageSize" (ngModelChange)="numberChanged($event)"
                                    >
                                    <option value="4">4</option>
                                    <option value="8">8</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="48">48</option>
                                    <option value="96">96</option>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <th class="mb-0"  style="padding-bottom: 0;">
                                Sortiraj:
                            </th>
                        </tr>
                        <tr>
                            <td style="padding-top: 5px;">
                                <select name="sort" class="form-control">
                                    <option value="0">Po ceni opadajuće</option>
                                    <option value="1">Po ceni rastuće</option>
                                    <option value="2">Po nazivu opadajuće</option>
                                    <option value="3">Po nazivu rastuće</option>
                                    <option value="4">Po kategorijama opadjuće</option>
                                    <option value="5">Po kategorijama rastuće</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>
</div>